.nav-item .nav-link {
  color: #000;
}
/* .nav-item.active .nav-link {
  border-bottom: 2px solid #f60;
} */

.secoundary-bar a.nav-link {
  color: #fff;
  padding: 0 1rem;
}

.nav-item a.nav-link.active {
  color: #000;
}
.nav-item.dropdown.active .nav-item.active .nav-link {
  color: #007bff;
}

.nav-item.dropdown.active .nav-item .nav-link {
  font-size: 15px;
}

.navbar {
  border-bottom: 3px solid #343a40 !important;
}
