<!-- transaction template -->
<div class="container shadow transaction">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 my-4">
                    <h2>My Transaction</h2>
                </div>
                <div class="col-4">
                    <p><b>Account holder Name:</b><span> {{userName}}</span></p>
                </div>
                <div class="col-4">
                    <p><b>Account Type:</b><span> {{accountType}}</span></p>
                </div>
                <div class="col-4 text-right">
                    <p><b>Account Number:</b><span> {{accountNumber}}</span></p>
                </div>

                <div class="col-6 text-right mx-auto my-3">
                    <form #form="ngForm" (submit)="filterTransaction(form.value)">
                        <div class="form-row">
                            <div class="col">
                                <label for="exampleFormControlSelect1">Month:</label>
                                <select class="form-control rounded-0" [(ngModel)]="selectedMonth" name="month"
                                    id="exampleFormControlSelect1">
                                    <option *ngFor="let month of months;let i=index" [selected]="i" [value]="i">
                                        {{month}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="exampleFormControlSelect1">Year:</label>
                                <select class="form-control rounded-0" [(ngModel)]="selectedYear" name="year"
                                    id="exampleFormControlSelect1">
                                    <option *ngFor="let year of years;" [selected]="year" [value]="year">
                                        {{year}}</option>
                                </select>

                            </div>
                            <div class="col text-left align-self-end">
                                <button class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-12">
            <div>
                <div class="text-center" *ngIf="montholyRespose">
                    {{montholyRespose.message }}
                </div>
            </div>
            <div class="card" *ngFor="let transaction of montholyRespose?.transactionDetails">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <p><small><b>Beneficiary Name:</b></small> {{transaction?.payeeName}}</p>

                        </div>
                        <div class="col-md-4">
                            <p><small><b>Transaction Type:</b></small> {{transaction?.transactionType}}</p>

                        </div>
                        <div class="col-md-4 ml-auto float-lg-right text-right">
                            <p><small><b>Transaction Date:</b></small>
                                {{transaction?.transactionDate  | date:'dd-MM-yyyy' }}</p>

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p><small><b>Account Number:</b></small></p>
                            <h5>{{transaction?.payeeAccountNumber}}</h5>
                        </div>
                        <div class="col-md-4">
                            <p><small><b>Description:</b></small></p>
                            <h5>{{transaction?.remarks}}</h5>
                        </div>
                        <div class="col-md-4 ml-auto float-lg-right text-right">
                            <p><small><b>Transaction Amount:</b></small></p>
                            <h5>INR {{transaction?.transactionAmount}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>