<!-- Fund Transfer template -->
<div class="container shadow fundtransfer ">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 my-4">
                    <h2>Fund Transfer</h2>
                </div>
                <div class="col-6">
                    <p><b>User Name:</b><span> {{userName}}</span></p>
                </div>
                <div class="col-6 text-right">
                    <p><b>Account Type:</b><span> {{accountType}}</span></p>
                </div>
                <div class="col-6 ">
                    <p><b>Account Number:</b><span> {{accountNumber}}</span></p>
                </div>
                <div class="col-6 text-right">
                    <p><b>Available Balance:</b><span> {{accountBalance?.accountBalance}}.00</span></p>
                </div>
            </div>
        </div>
        <div class="col-12 my-5">
            <div class="row d-flex justify-content-center">
                <div class="col col-lg-6 ">
                    <p class="text-success" *ngIf="apiMessage?.message">{{apiMessage?.message}}</p>
                    <button class="btn btn-primary" *ngIf="apiMessage?.message" (click)="apiMessage = !apiMessage">Back
                        to Fund
                        Transfer</button>
                    <form [formGroup]="fundTransferForm" *ngIf="!apiMessage?.message">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Beneficiary List<span
                                    class="text-danger">*</span></label>
                            <select
                                [ngClass]="{'is-invalid': fundTransferForm?.controls?.payeeAccountId?.touched && fundTransferForm?.controls?.payeeAccountId?.invalid}"
                                class="form-control form-control-lg  rounded-0" formControlName="payeeAccountId"
                                id="exampleFormControlSelect1">
                                <option *ngFor="let payee of payeeList" [value]="payee.accountId">
                                    {{payee?.accountType}} - {{payee?.payeeName}} -
                                    {{payee?.accountNumber}}
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                <span *ngIf="fundTransferForm?.controls?.payeeAccountId?.errors?.required">Please select
                                    Beneficiary</span> </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Amount to transfer<span
                                    class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="{'is-invalid': fundTransferForm?.controls?.transferAmount?.touched && fundTransferForm?.controls?.transferAmount?.invalid}"
                                class="form-control form-control-lg rounded-0" id="exampleFormControlInput1"
                                formControlName="transferAmount" placeholder="">
                            <div class="invalid-feedback">
                                <span *ngIf="fundTransferForm?.controls?.transferAmount?.errors?.required">Please enter
                                    currect amount</span>
                                <span *ngIf="fundTransferForm?.controls?.transferAmount?.errors?.validatePositive">Not
                                    allowed
                                    negative numbers</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Description<span class="text-danger">*</span></label>
                            <input type="text"
                                [ngClass]="{'is-invalid': fundTransferForm?.controls?.remarks?.touched && fundTransferForm?.controls?.remarks?.invalid}"
                                class="form-control form-control-lg  rounded-0" id="exampleFormControlInput1"
                                formControlName="remarks" placeholder="">
                            <div class="invalid-feedback">
                                <span *ngIf="fundTransferForm?.controls?.remarks?.errors?.required">Please enter
                                    discription</span> </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Transaction Type<span
                                    class="text-danger">*</span></label>
                            <select class="form-control form-control-lg  rounded-0" id="exampleFormControlSelect1">
                                <option value="IMPS">IMPS
                                </option>
                            </select>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <button class="btn btn-primary btn-lg btn-block" (click)="resetfundtransfer()"
                                    id="btnLogin">Reset</button>
                            </div>
                            <div class="form-group col-md-6">
                                <button (click)="fundTransfer()" class="btn btn-primary btn-lg btn-block float-right"
                                    [disabled]="fundTransferForm.invalid" id="btnLogin">Confirm <i
                                        class="fa fa-refresh fa-spin" *ngIf="fundTransferSpin"></i></button>


                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>